

<form class="form-horizontal" method="post" action="{% if form.action %}{{form.action}}{% else %}{{ App.request.url }}{% endif %}" {% if this.model.isNewRecord %}{% if sub.onCreateUrl %}action="{{sub.onCreateUrl}}"{% elseif sub.onEditUrl %}action="{{sub.onEditUrl}}"{% endif %}{% endif %}  id="{{ form.id |default('id-form')}}">
	<fieldset>
		{% if form.title != '' %}
			<h5 class="short_headline"><span>{{ form.title |raw}}</span></h5>
		{% endif %}
		{% if form.controlWidth %}{% set width=form.controlWidth %}{% else %}{% set width='input-xlarge' %}{% endif %}
		{% for groupKey, groupElement in form.elements %}			
		{% if groupElement.hidden != true %}
		<div class="control-group{% if this.model.getErrors(groupKey) %} error {% endif %}">
			{% if groupElement.type != 'checkbox' and groupElement.type != 'hidden' %}
			<label class="control-label" for="id-{{ groupKey }}">{% if groupElement.label %}{{ groupElement.label}}{% else %}{{ this.model.attributeLabel(groupKey) }}{% endif %}</label> 
			{% endif %}
			
			<div class="controls">
				{% if groupElement.elements | length > 0 %}
					{% set fields = (groupElement.elements) %}
				{% else %}
					{% set fields = { (groupKey) : groupElement } %} {# must in () otherwise it's an string #}
				{% endif %}	
				{#
				{% set key = groupKey %}
				{% set element = groupElement %}
				#}
				{% for key, element in fields %}	

				{% if element.type == 'dropdown' or element.type == 'vat' %}							
				  {% if element.type == 'vat' %}
					<div class="input-prepend span4">
						<span class="add-on">%</span>
					{% endif %}	
				<select id="id-{{ key }}" name="{{ form.model }}[{{key}}]" class="{{ width }} {{ element.class }}">
					{% for itemKey, itemCaption in element.items %}
					<option value="{{ itemKey }}" {% if itemKey == this.model.__get(key) %}selected="1"{% endif %} >{{ itemCaption }}</option>
					{% endfor %}
				</select>
					{% if element.type == 'vat' %}
					</div>	
					{% endif %}
				{% elseif element.type == 'radiobuttonlist' %}	
					{{ html.activeRadioButtonList((this.model), 'article_type_id', element.items , {'labelOptions': {'style':'display:inline-block;padding-right:8px;margin-top:3px;'}, 'separator' : ' ' }) |raw }} 
				{% elseif element.type == 'textarea' %}
					<textarea id="id-{{ key }}" name="{{ form.model }}[{{key}}]" class="{% if element.class %}{{ element.class }} {%else%}{{ width }}{%endif%}" rows="{% if element.rows %}{{ element.rows }}{% else %}5{% endif %}">{{ this.model.__get(key) }}</textarea>
				{% elseif element.type == 'checkbox' %}	
					{# http://stackoverflow.com/questions/1809494/post-the-checkboxes-that-are-unchecked #}
					<label class="checkbox"><input type="hidden" name="{{ form.model }}[{{key}}]" value="0" /><input id="id-{{ key }}" name="{{ form.model }}[{{key}}]" type="checkbox" {% if this.model.__get(key) %}checked="1"{% endif %} value="1"/>{% if groupElement.label %}{{ groupElement.label}}{% else %}{{ this.model.attributeLabel(groupKey) }}{% endif %}</label>
				{% elseif element.type== 'image' %}
					{{ this.form.image(this.model, key) | raw }}								
				{% elseif element.type== 'finder' %}
					{{ this.form.finder(this.model, key) | raw }}
				{% elseif element.type== 'html' %}
					{{ this.form.htmlEditor(this.model, key) | raw}}						
				{% elseif element.type=='chosen' %}
					{{ this.form.chosen(this.model, key, element) }}	
				{% elseif element.type=='date' %}						
					<div class="input-prepend date">						
						<input id="id-{{ key }}" name="{{ form.model }}[{{key}}]" size="16" type="text" value="{{ this.model.__get(key) }}" class="input-date" data-date-format="dd-mm-yyyy" {% if element.calendarWeeks %}data-date-calendar-weeks="true"{% endif %}>						
					</div>	
				{{ this.registerScript(
						'datepicker',"
$().ready(function() {											
	$('.input-date').datepicker({" ~		
		"language : 'app.params.language ',
		autoclose: true
	});
});")
}}	
				{% elseif element.type=='hidden' %}
					<input type="hidden" id="id-{{ key }}" name="{{ form.model }}[{{key}}]" value="{{ this.model.__get(key) }}" />	
				{% elseif element.type== 'view' %}
					{{ this.renderPartial(element.view, {'model': this.model.__get(key)}) |raw }}
				{% elseif element.type== 'password' %}
					<input id="id-{{ key }}" name="{{ form.model }}[{{key}}]" type="password" class="{{ width }}" value="{{ this.model.__get(key) }}"/> 
				{% elseif element.type=='typeahead' %}
					
					<input id="id-input-{{ key }}" type="text" class="{{ width }}" value="{{ element.caption }}"/>
					<input id="id-{{ key }}" name="{{ form.model }}[{{key}}]" type="hidden" value="{{ this.model.__get(key) }}">
					{{ this.registerScript(
							form.model ~ '-' ~ key,"
$().ready(function() {
	$('#id-input-"~ key ~"').typeahead({
		name:'search-"~ key ~"',
		remote:'" ~ element.url ~ "%QUERY'
	});
	$('#id-input-"~ key ~"').on('typeahead:selected typeahead:autocompleted', function(e,datum) {
	//	console.log(datum);
		$('#id-"~ key ~"').val(datum.id);
	});
})
") }}
						
				{% elseif element.type=='currency' %}
					{{ this.registerPackage('currency') }}
					<div class="input-prepend">
						<span class="add-on">&euro;</span>
						<input id="id-{{ key }}" name="{{ form.model }}[{{key}}]" type="text" class="input-currency span6" value="{{ this.model.__get(key) }}" {% if fields | length > 1 %} placeholder="{% if element.label %}{{ element.label}}{% else %}{{ this.model.attributeLabel(key) }}{% endif %}"{% endif %} maxlength="{{element.maxLength}} | default(255)" style="text-align: right;" /> 					
					</div>	
				{% else %}	
					<input id="id-{{ key }}" name="{{ form.model }}[{{key}}]" type="text" class="{{ width }}" value="{{ this.model.__get(key) }}" {% if fields | length > 1 %} placeholder="{% if element.label %}{{ element.label}}{% else %}{{ this.model.attributeLabel(key) }}{% endif %}"{% endif %} maxlength="{{element.maxLength}} | default(255)"/> 
				{% endif %}
			  {% endfor %}	
			</div>	
			
			
		</div>
		{% endif %}
		{% endfor %}	
		<div class="form-actions">					
			{% for key, element in form.buttons %}					
			{% if element.type == 'submit' %}	
				<button class="btn {{ element.style }}" type="submit">{% if element.label %}{{element.label}}{%else%}{% if this.model.isNewRecord %}{{ this.t('btn-create') }} {% else %}{{ this.t('btn-save') }} {% endif %}{% endif %}</button>
			{% elseif element.type == 'cancel' %}	
				{% if sub.isAjax %}
				<span href="#" id="btn-cancel" class="btn {{ element.style }}" type="button">{{ this.t('btn-cancel') }}</span>											
				{% else %}
				<input class="btn {{ element.style }}" type="button" value="{{ this.t('btn-cancel') }}"  onClick="history.go(-1);return true;">							
				{% endif %}
			{% elseif element.type == 'delete' %}	
				<input class="btn {{ element.style }}" type="button" value="{{ this.t('btn-delete') }}"  onClick="if (confirm('{{ (element.ask) | default('Delete this information?') }}')) { window.location='{{ this.createUrl( element.action|default('delete'), {'id' : this.model.attribute(element.id | default('id'))} ) }}'; };">							
			{% elseif element.type == 'link' %}
				<br/><br /><a href="{{element.url}}">{{element.label}}</a>
			{% else %}	
				<input class="btn {{ element.style }}" type="button" value="{{ element.label }}"  onClick="{{ element.javascript }}">							
			{% endif %}
			{% endfor %}
		</div>
	</fieldset>
</form>

{% if sub.isAjax or form.script %}
<script type="text/javascript">
{% if sub.isAjax %}	
	$().ready(function() {
		var options = {
			target : '#{{ sub.slaveFrame }}',
			success : processResponse
		};
		$('#{{ form.id |default('id-form')}}').ajaxForm(options);		
		
		$('#btn-cancel').click(function() {
			$('#{{sub.masterFrame}}').load('{{ sub.onRefreshUrl }}');
		});
	});
	
	
	function processResponse(responseText, statusText, xhr, $form) {
{#		alert(responseText); #}
		if (responseText == 'ok') {/* everything went ok */
			$('#{{sub.masterFrame}}').load('{{ sub.onRefreshUrl }}');
		} else {
			$('#{{sub.slaveFrame}}').html(responseText);
		}
	};
	
{% endif %}
{% if form.script %}
	{{ form.script | raw}}
{% endif %}

</script>	
{% endif %}