		
		{% if form.controlWidth %}{% set width=form.controlWidth %}{% else %}{% set width='input-xlarge' %}{% endif %}
		{% for groupKey, groupElement in form.elements %}			
		{% if groupElement.hidden != true and groupElement.viewHidden != true %}
		<div class="control-group{% if model.getErrors(groupKey) %} error {% endif %}">
			{% if  groupElement.type != 'hidden' %}
			<span class="view-label" for="id-{{ groupKey }}">{% if groupElement.label %}{{ groupElement.label}}{% else %}{{ model.attributeLabel(groupKey) }}{% endif %}:</span> 
			{% endif %}
			
			<span class="view-data">
				{% if groupElement.elements | length > 0 %}
					{% set fields = (groupElement.elements) %}
				{% else %}
					{% set fields = { (groupKey) : groupElement } %} {# must in () otherwise it's an string #}
				{% endif %}	
				{#
				{% set key = groupKey %}
				{% set element = groupElement %}
				#}
				{% for key, element in fields %}	

				{% if element.type == 'dropdown' or element.type == 'readiobuttonlist' %}							
					{% for itemKey, itemCaption in element.items %}
					 {% if itemKey == model.__get(key) %}{{ itemCaption }}{% endif %}
					{% endfor %}
				{% elseif element.type == 'textarea' %}
					 {{ model.__get(key) }}
				{% elseif element.type == 'checkbox' %}	
					{% if model.__get(key)==1 %}{{ this.t(element.trueCaption|default('yes'))}}{%else%}{{ this.t(element.falseCaption|default('no'))}}{%endif%}
				{% elseif element.type== 'image' %}
					{{ this.form.image(model, key) | raw }}								
				{% elseif element.type== 'finder' %}					
				{% elseif element.type== 'html' %}
					{{ model.__get(key) | raw }}
				{% elseif element.type=='chosen' %}					
				{% elseif element.type=='datetime' %}						
					{{ model.__get(key) }}	
				{% elseif element.type=='hidden' %}
				{% elseif element.type== 'view' %}
					{{ model.__get(key) | raw }}	
				{% elseif element.type== 'password' %}
				{% elseif element.type=='typeahead' %}
					{{ element.caption }}	
				{% elseif element.type=='button' or element.type=='dialog'%}	
				{% else %}	
					{{ model.__get(key) | raw }}	
				{% endif %}
			  {% endfor %}	
			</span>	
			
			
		</div>
		{% endif %}
		{% endfor %}	
