{#
  In a 3 frame enviroment (itemMenu, selectors, frame)

  the 2 frame showing all the items (selectors) possible
#}
{% set viewId = 0 %}

<aside class="widget">
	<form class="form-search">
		<table class="responsive point-grid">				
			<tr>
				<td >
					<span class="input-append" >
					<input type="text" class="span8">
					<span class="add-on"><i class="icon-search"></i></span>
					{% if sub.onCreateUrl %}<a href="#" id="sub-add"><span class="add-on"><i class="icon-plus"></i></span></a>{% endif %}
					</span>
				</td>
			</tr>				
		{% for id, value in sub.items %}
			{% if loop.first %}{% set viewId = sub.masterId | default(id) %}{% endif %}
			<tr>
				<td class="sub-link" id="link-{{id}}" data-id="{{id}}">{{ value }}</td>
			</tr>
		{% endfor %}	
		</table>		
	</form>		
		
	 {# loading the default information into the view #}	
	{% if viewId > 0 and sub.onViewUrl != ''	%}		
		<script type="text/javascript">
			$().ready(function() {
				url = '{{ sub.onViewUrl }}';
				url = url.replace('-key-', '{{ viewId }}');
				$('#{{ sub.slaveFrame }}').load(url);
				$('#link-{{ viewId }}').addClass('sub-active');
			});	
		</script>	
	{% endif %}	
<script type="text/javascript">
	$().ready(function() {
		{% if sub.onViewUrl %}
				
		$('.sub-link').click(function() {
			$('.sub-link').removeClass('sub-active');
			$this = $(this);			
			$this.addClass('sub-active');
			var url = "{{ sub.onViewUrl | raw }}";
			url = url.replace('-key-', $this.data('id'));
			$('#{{ sub.slaveFrame }}').load(url);	
{#			// alert($this.data('id')); #}
		});
		{% endif %}
		{% if sub.onCreateUrl  %}
			
		$('#sub-add').click(function() {
{#		  	alert('{{sub.onCreateUrl}}'); #}
			$('#{{ sub.slaveFrame }}').load("{{ sub.onCreateUrl }}");
		});
		{% endif %}
	});
</script>		
		
</aside>
