{#
 Show the information from the view
#}
{% block viewContent %}
<div>
	<h5 class="short_headline">
		<span>{{ this.t(sub.caption) }}</span>
		<div class="short_headline-bar">
			{{ this.menuHtml('toolbar') | raw }}
			
			{% if sub.onEditUrl %}
				<span class="btn btn-small" id="btn-edit"><i class="icon-pencil"></i> {{ this.t('btn-edit') }}</span>
			{% endif %}	
			
			{% if sub.onDeleteUrl %}
				<span class="btn btn-small" id="btn-delete">{{ this.t('btn-delete') }}</span>
			{% endif %}	
		</div>
	</h5>
	
	<div class="row-fluid">
		{% if App.user.hasFlash('error') or App.user.hasFlash('success') or App.user.hasFlash('info') %}
		<div class="span6x">
			{% for key, flash in App.user.getFlashes %}
			<div class="alert alert-{{ key }}">
				{{ flash }}
			</div>	
			{% endfor %}	
		</div>
		{% elseif App.user.hasFlash('success') %}	

		{% endif %}	
		{% block formStart %}<div class="span6x">{% endblock %}
			{% include this.viewPath('_view') %}
		{% block formEnd %}</div>{% endblock %}
		{% block extraView %} {%endblock %}
	</div>		
</div>

<script type=text/javascript>	
	$().ready(function() {
		$('#btn-edit').click(function() {
			url = '{{ sub.onEditUrl }}';
			url = url.replace('-key-','{{ sub.childId }}');
			$('#{{ sub.slaveFrame }}').load(url);
		});
	});	
		
</script>	

{% endblock %}