{% extends this.viewPath('main') %}

{# no menu for this form on the left side #}
{% block menuLeft %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-8 col-xs-10 msgbox-layout border well">
		<h2>{% block title %}{{ form.title}} {{ title }} {% endblock %}</h2>
		{% if errorText or this.model.hasErrors() %}
		<div class="alert alert-danger">			
			{% if this.model.hasErrors() %}
			{{ html.errorSummary(this.model)|raw }}
			{% endif %}
			{{ errorText |raw }}			
		</div>
		{% endif %}		
		{% block message %}{{ message  |raw }}{% endblock %}
		<div class="{% if this.model.hasErrors() %}shake{% endif %} col-sm-12">		
			{% if form %}
			<div class="bs-content">
		{% include this.viewPath('_form') %}
			</div>		
		{% include this.viewPath('_buttons') %}
			{% endif %}
		{% block endMessage %}{{ endMessage |raw}}{% endblock %}	
		</div>		
	</div>
</div>	
	
{% endblock %}