{#
  the new interface based upon bootstrap 3rc1

  JvK 29 juli 2013
#}
<!DOCTYPE html>
<html>
  <head>
		<title>{% block pageTitle %}{{ this.pageTitle }}{% endblock %}</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		{{ this.addHeader() }}
		{{ this.registerCore('jquery', true) }}
		{{ this.registerPackage('bootstrap3') }}
		{{ this.registerPackage('core') }}
		<meta name="description" content="{{ App.params.description | default('site description') }}" />	
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
			<div class="container">
				<a href="{{ this.createUrl('/')}}" class="navbar-brand">{{ App.name }}</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="nav-collapse bs-navbar-collapse">
					{{ this.menuHtml('system', {'class': 'nav navbar-nav' }) }}
				</div>
				<div class="pull-right nav-collapse bs-navbar-collapse">
					{{ this.menuHtml('user', {'class': 'nav navbar-nav' }) }}
				</div>
			</div>
		</div>
			
		<div class="bs-header">
			<div class="container">
				{# anything in this container is the header of the application. It will scroll out of view #}
				{% include this.viewPath('logo') %}				
				<div class="header-toolbar">{% block headerButtons %}{% endblock %}</div>					
			</div>

		</div>
{# there are two basic ways to show the page, with of without the nav #}
		<div class="container bs-container">
			{% block fullContent %}
			<div class="row">
				<div class="col-lg-3" >
					<div class="bs-sidebar affix" data-spy="affix" data-offset="135"  >
						{% block itemMenuHeader %}{% endblock %}
						{{ this.menuHtml('item', {'class': 'nav bs-sidenav' }) }}
						{% block itemMenuFooter %}{% endblock %}	
					</div>
				</div>
				<div class="col-lg-9">
					{% block content %}{% endblock %}					
				</div>	
			</div>
			{% endblock %}	
		</div>	
			

		<div class="bs-footer">	
			{% block bootstrap3Footer %}
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						{% block footerLeft %}
						<section>
							<h4>{{ this.t('contact us') }}</h4>
							<p>{{ App.params.company}}<br>
								{{ App.params.companyAddress |raw }}<br/>
							</p>
							<p>
								<strong>{{ this.t('email')}}:</strong> <a href="mailto:{{ App.params.companyEmail |default('info@toxus.nl') }}">{{ App.params.companyEmail |default('info@toxus.nl') }}</a> 
							</p>
							{% block footerLeftExtra %}{% endblock %}							
						</section>
						{% endblock %}													
					</div>
					<div class="col-lg-4">
						{% block footerMiddle %}
						<section>
							<h4>{{ this.t('stay updated') }}</h4>
							<p>{{ this.t('sign up for our newsletter. We won\'t share your email address.') }}</p>
							{% include this.viewPath('newsletter') %}
								<!--close input-append-->
							</form>
						</section>							
						{% endblock %}	
					</div>
					<div class="col-lg-4">
						{% block footerRight %}
						<section>
							<h4>{{ this.t('latest blog posts') }}</h4>		
							{% block footerRightList %}{% endblock %}
						</section>
						{% endblock %}	
					</div>
				</div>
			</div>
			<section class="footerCredits">
				{% block footerCredits %}
				<div class="container">
					<ul class="footer-links text-center">
						<li><a href="{{ this.createUrl('site/copyright') }}"> &copy; 2013 Toxus</a> | </li>
						<li><a href="{{ this.createUrl('site/sitemap') }}">{{ this.t('site map') }}</a> | </li>
						<li><a href="{{ this.createUrl('site/privacy') }}">{{ this.t('privacy') }}</a></li>
					</ul>
				</div>		
				{% endblock %}	
			</section>	
		 {% endblock %}	
		{# include this.viewPath('bootstrap3Footer') #}			
		</div>		
		<div class="modal fade" id="id-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
			<div class="modal-body">
				<div class="modal-dialog">
					<div id="id-modal-body" class="modal-content">
					LOADING INFORMATION ....
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->				
			</div>
		</div>
{# 
	we need a hidden preview window for large bitmaps.		
	the modal window is to small. Width should be 770, 30 for the scrollbar = 800 (iPad version)
#}		
		<div class="modal fade modal-preview" id="id-preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
			<div class="modal-body">
				<div class="modal-dialog">
					<div class="modal-content">
					LOADING INFORMATION ....
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->				
			</div>
		</div>
			
		<div id="id-wait-message" class="hide">
			<div class="row id-wait">
				<div class="col-offset-1 col-lg-10">
					<h2 style="text-align: center" class="wait-message">Processing .....</h2>
					<div class="wait-icon"><img class="wait-icon" src="{{ this.getPackageBaseUrl('bootstrap3') }}/images/progress.gif"/></div>
				</div>
			</div>
		</div>	
			
		<script	type="text/javascript">
			$().ready(function() {
				{% block onReady %}{% endblock %}
				{{ this.scriptOnReady() | raw }}
			});
		</script>		
  </body>
</html>