{% extends dialog ? this.viewPath('ajaxDialog') : this.viewPath('main') %}
{# parameter:
 # - title    (the caption of the dialog | default= error)
 # - message  (the message to display)
 # - url      (next url to open)
#}
{% block content %}
<div class="row">
	<div class="{{ width |default('col-sm-9')}} msgbox-layout border no-padding">
	<div class="modal-header">
    {# <button type="button" class="close action-close" data-dismiss="modal" aria-hidden="true">×</button> #}
    {% block dialogHeader %}<h3>{{ title | default(this.te('error')) }}</h3>{%endblock %}
  </div>

  {% if message %}
	<div class="row" style="margin-top: 100px;">
		<div class="col-md-offset-3 col-md-6">
			<h4>{{ message | raw}}</h4>
		</div>		
	</div>
  {% endif %}
	<div class="row" style="margin-top: 50px;">
		<div class="col-md-3">{% block icon %}{{ icon | default('<i class="glyphicon glyphicon-wrench icon-size-large pull-right"></i>') | raw}}{% endblock %}</div>
		<div class="col-md-6">
			{% block body %} {{ body }}{% endblock %}
		</div>
	</div>	
	<div class="modal-footer">
		{% block dialogFooter %}
    <a id="btn-close" class="btn btn-primary action-close" {% if url %}href="{{ url }}" {% else %}data-dismiss="modal"{% endif %}>{{ this.t(closeCaption | default('btn-close')) }}</a>
		{% endblock %}
  </div>		
	</div>
</div>

{% endblock %}
	   