{#
  The master page of all pages
#}

{% extends this.viewPath('main') %}


{% block content %}
{% include this.viewPath('caption') %}

<div class="bs-content">
	{# must first display any error connected to the main record #}		
	{% if model.hasErrors() %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-2 alert alert-danger">			
			{{ html.errorSummary(model)|raw }}
		</div>
	</div>
	{% endif %}	
		
	{# now display the form #}	
	{% if mode == 'edit' %}
		{% include this.viewPath('_form') %}
	{% elseif mode == 'moderate' %}
		{% block moderate %}
		<div class="row">
			<div class="col-sm-10">	
				{% include this.viewPath('_moderate') %}
			</div>
			<div class="col-sm-2">
				{% if this.model.moderations | length > 0 %}
					<h4>{{ this.te('changes') }}</h4>
					{% for change in this.model.moderations %}
					<div class="moderation"> 
						<a href="{{ this.createUrl(App.controller.route,{'id': this.model.id, 'mode':'moderate','transaction':change.id} ) }}">
						<span class="moderation-user">{{ change.user.username }}</span>
						<span class="moderation-date">{{ change.creation_date | date('d/m/Y h:n') }}</span>
						</a>
					</div>
					{% endfor %}
				{% endif %}	
			</div>
			
		</div>	
		{% endblock %}
	{% else %}	
		<div class="row">
			<div class="col-sm-10">
			{% include this.viewPath('_view') %}
			</div>
		</div>		
	{% endif %}	
</div>
{% endblock %}


{% block onReady %}
  {% if menuItem %}
		$('{{ menuItem }}').addClass('active');
	{% endif %}	
	$('.btn-edit').on('click', function() {
		window.location = window.location+"?mode=edit"; 
	});
	$('.btn-moderate').on('click', function() {
		window.location = window.location+"?mode=moderate"; 
	});

	{{ parent() }}
{% endblock %}
	
	
	
	